body {
	background-color: grey;
}

.cool{
	visibility: hidden;
	width: 80px;
	height: 25px;
	background-color: yellow;
	transition: background-color 3s;
}

.cool.blue{
	visibility: visible;
	background-color: blue;
}